.about-wrapper {
  grid-area: 2 / 2;
  display: flex;
  align-items: center;
}

.about-card img {
  width: calc(200px + 4vw);
  border-radius: 7%;
  float: left;
  margin-right: $base-margin;
}

.about-card p {
  margin-block: 0;
  padding: 0;
  font-size: $base-font-size;
}
