
section > .about-card {
  display: flex;
  justify-content: center;
}

.about-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('/src/images/background-images/keyboard-cyberboard_1.webp');
}

.about-card {
  display: flex;
  align-items: center;
}

.card-body{
  background: rgba(0, 0, 0, 0.75);
  border: 2px $font-secondary solid;
  border-radius: 12px;
  box-shadow: $base-box-shadow;
  padding: 5rem;
}

.about-card img {
  width: calc(150px + 10vw);
  border-radius: 12px;
  margin: 0 3rem 1rem 0;
  box-shadow: $base-box-shadow;
  float: left;
}

.about-card p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  max-width: 60ch;
}

// @media screen and (width > 650px) {
//   .card-body {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }