.card {
  padding: $base-padding;
  border: $base-border-thickness solid $base-border-color;
  box-shadow: $base-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-header {
    text-align: center;
    font-size: $header-font-size;
  }

  .card-body {
    line-height: $base-line-height;
  }

  .card-body img {
    height: 60vh;
  }
}