.card {
  margin-inline: auto;
  box-shadow: $base-box-shadow;
  border-radius: 8px;
  padding: $base-padding;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  // height: 25rem;
  display: flex;
  flex-direction: column;
  // filter: grayscale(100%);
  // transition: filter 300ms;
  max-width: 30rem;
  width: 100%;
  height: auto;
}

// .card:hover {
//   filter: grayscale(0%);
// }

.card h2 {
  color: $accent-secondary;
}

.card a {
  color: $accent-secondary;
}

.spacer {
  height: 15rem;
}

.card ul {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}