
.footer {
    background-color: $primary;
    background-image: $primary;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    color: $font-primary;
}

.footer ul {
    padding-inline: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: $base-font-size;
}

.footer a {
    color: $font-secondary;
}