
.footer {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer ul {
    padding: $base-padding;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: $base-font-size;
}