
.header-wrapper {
  background-color: $accent;
  box-shadow: 0 0 6px #000000 inset;
  position: sticky;
  top: -1px;
  z-index: 5;
}

header ul {
  display: flex;
  justify-content: space-around;
  font-size: $base-font-size;
}

header li {
  padding: $base-padding / 2;
}

.hover {
  transition: color 300ms ease-in-out;
}

.hover:hover {
  cursor: pointer;
  color: $font-highlighted;
}

.hover::after {
  color: $font-primary;
  font-size: $link-font-size;
  display: block;
  position: absolute;
  top: calc(50% - calc($link-font-size * .65));
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

// nav li:first-child a::after,
// nav li:last-child a::after,
// nav li:nth-child(3) a::after {
//   margin-left: 3em;
// }

.hover:hover::after {
  opacity: 1;
}

.home-link::after {
  content: "Home";
}

.about-link::after {
  content: "About Me";
}

.portfolio-link::after {
  content: "Portfolio";
}

.resume-link::after {
  content: "Resume";
}

.contact-link::after {
  content: "Contact";
}