
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35)), url('/src/images/Project Images/keyboard_modo-2_2.jpg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 5px #0000004c inset;
}

.logo {
    margin: $base-padding;
    box-shadow: $base-box-shadow;
    border: $base-border-color 4px solid;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vh;
    line-height: 1;
}

.hero-text {
    padding: $base-padding;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.hero h1 {
    padding: 50px;

}