
.hero h1 {
    padding: 50px;
}

.hero-image {
    border-bottom: 1rem solid $base-border-color;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)), url('/src/images/Project Images/keyboard_modo-2_2.jpg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 5px #0000004c inset;
}

.logo {
    color: $font-primary;
    margin: $base-padding;
    box-shadow: $base-box-shadow;
    border: $base-border-color 6px solid;
    background-color: $logo-background;
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    position: absolute;
    right: 0;
    top: 38.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vh;
    line-height: 1;
}

.hero-text {
    padding: $base-padding;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
