.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), url('/src/images/background-images/keyboard_modo-2_2.jpg');
}

.hero {
    padding: $base-padding;
}

.hero h1 {
    font-size: $header-font-size;
}

.hero h1::first-letter {
    font-size: calc($header-font-size * 2);
    font-style: italic;
    color: $accent-secondary;
}

.hero p {
    font-size: $base-font-size;
}