.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.65)), url('/src/images/Project-Images/keyboard_modo-2_2.jpg');
    box-shadow: 0 0 5px #0000004c inset;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
}

.hero {
    padding: $base-padding;
    margin-bottom: 10%;
}

.hero h1 {
    font-size: $header-font-size;
}

.hero h1::first-letter {
    color: #4aa2a2;
}

.hero p {
    font-size: $base-font-size;
}