
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: $base-padding 0;
  height: calc($base-font-size * 3);
}

nav ul {
  font-size: $base-font-size;
  display: flex;
  justify-content: flex-end;
  gap: $nav-spacing;
  align-self: stretch;
}

nav li {
  display: flex;
  align-items: center;
}

.brand a {
  font-size: $brand-font-size;
  color: $accent-secondary;
  margin-right: $nav-spacing;
}

.active-link {
  border-top: inset 3px $accent-secondary;
}