
nav {
  display: flex;
  justify-content: space-between;
  padding: $base-padding 0;
}

nav ul {
  font-size: $base-font-size;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.brand a {
  font-size: calc($base-font-size * 5);
  -webkit-text-stroke-width: .02em;
  -webkit-text-stroke-color: #4aa2a2;
}