
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-padding 0;
}

nav ul {
  font-size: $base-font-size;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.brand a {
  font-size: calc($base-font-size * 1.5);
  color: rgb(200, 255, 0);
}