
.header-wrapper {
  display: flex;
  justify-content: center;
  z-index: 5;
  position: absolute;
  width: 100%;
}

nav ul {
  font-size: $base-font-size;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header li {
  padding: 5%;
}

header li ~ li {
  margin-left: 5em;
}

.hover {
  transition: color 200ms ease-in-out;
}

.hover:hover {
  cursor: pointer;
  color: $font-accent;
}

.hover::after {
  color: $font-primary;
  font-size: $link-font-size;
  display: block;
  position: absolute;
  top: calc(50% - calc($link-font-size * .65));
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

nav a::after {
  margin-left: 2em;
}

.hover:hover::after {
  opacity: 1;
}

.home-link::after {
  content: "Home";
}

.about-link::after {
  content: "About";
}

.portfolio-link::after {
  content: "Portfolio";
}

.resume-link::after {
  content: "Resume";
}

.contact-link::after {
  content: "Contact";
}