.navigation {
  z-index: 10;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $primary;
}

nav ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-block-start: 0;
  padding-inline: 2em;
}

nav ul li {
  list-style: none;
  text-align: center;
  font-size: 3em;
}

nav ul li svg {
  position: relative;
  top: -7px;

}