nav {
  z-index: 10;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $primary;
}

nav ul {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-block-start: 0;
  padding-inline: 2em;
  position: relative;
  top: 1.1rem;
}

nav li {
  list-style: none;
  text-align: center;
  font-size: 3em;
}

.home-link::after {
  display: block;
  content: "Home";
  font-size: $link-font-size;
  visibility: hidden;
}

.home-link:hover::after {
  visibility: visible;
}

.about-link::after {
  display: block;
  content: "About";
  font-size: $link-font-size;
  visibility: hidden;
}

.about-link:hover::after {
  visibility: visible;
}

.portfolio-link::after {
  display: block;
  content: "Portfolio";
  font-size: $link-font-size;
  visibility: hidden;
}

.portfolio-link:hover::after {
  visibility: visible;
}

.resume-link::after {
  display: block;
  content: "Resume";
  font-size: $link-font-size;
  visibility: hidden;
}

.resume-link:hover::after {
  visibility: visible;
}

.contact-link::after {
  display: block;
  content: "Contact";
  font-size: $link-font-size;
  visibility: hidden;
}

.contact-link:hover::after {
  visibility: visible;
}