.portfolio-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/src/images/background-images/keyboard_dot-world-grey_1.jpg');
    background-repeat: repeat-y;
}

.portfolio {
    padding: $base-padding;
}