
.resume-section > .resume-pdf {
    display: flex;
}

.resume-section {
    display: flex;
    flex-direction: column;
    align-items: center
}

.resume-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('/src/images/background-images/keyboard-botanical_keycaps.webp');
}

.download-button {
    width: fit-content;
    padding: .5em 1em;
    margin-bottom: 1em;
    font-size: $base-font-size;
    color: $font-accent;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    box-shadow: $base-box-shadow, $decorative-box-shadow;
}

.download-button:hover {
    cursor: pointer;
}

.download-button:active {
    background: $font-accent;
    color: rgba(0, 0, 0);
}

.resume-pdf iframe {
    width: calc(32rem + 20vw);
    height: 37rem;
    border: none;
    padding: 1em;
    background-color: white;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow, inset 0 0 5px rgba(0, 0, 0, 1);
}

@media (max-width: 800px) {
    .resume-pdf iframe {
        width: 35rem;
    }
}

@media (max-width: 600px) {
    .download-button {
        margin-block: .5rem;
    }

    .resume-pdf iframe {
        width: 30rem;
        height: 25rem;
        padding-block: 0;
    }
}