
section > .resume {
    display: flex;
    justify-content: center;
}

.resume-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('/src/images/background-images/keyboard-botanical_keycaps.webp');
}

.resume iframe {
    width: 72rem;
    height: 70vh;
    border: none;
    margin-inline: 10%;
    background-color: white;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;
}