*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-primary;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: calc($base-padding * 3);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-image {
  box-shadow: 0 0 5px #0000004c inset;
  background-position: 0% 50%;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  max-width: 65ch;
}