// theme colors
$primary: rgb(108, 0, 231);
$secondary: whitesmoke;
$accent: rgb(0, 214, 164);
$font-primary: rgb(108, 0, 231);
$font-secondary: whitesmoke;

// spacing
$base-padding: .75rem;
$base-margin: 2rem;

// borders
$base-border-color: rgb(108, 0, 231);
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box shadow
$base-box-shadow: 1px 3px 7px 0px rgba(0,0,0,0.75);

// font sizes
$base-font-size: calc(.75rem + .75vw);
$header-font-size: calc(2rem + 2vw);
$link-font-size: 1rem;