// theme colors
$background: rgb(39, 41, 50);
$primary: rgb(77, 126, 168);
$secondary: rgb(255, 255, 251);
$accent: rgb(232, 141, 103);
$gradient-primary: (
  background-image: linear-gradient(to right top,
    #3400c4,
    #5500c4,
    #7f00b5,
    #b800bb,
    #ee0087)
);

// spacing
$base-padding: 1rem;
$base-margin: 2rem;

// borders
$base-border-color: rgb(232, 141, 103);
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box shadow
$base-box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.75);

// font sizes
$base-font-size: calc(.75rem + .75vw);
$header-font-size: calc(2rem + 2vw);
$link-font-size: 1rem;