// theme colors
$background-color: #2f2f2f;
$primary: #454545;
$secondary: #585959;
$tertiary: #777777;
$accent: #009696;
$font-primary: #fffffb;
$font-secondary: #272932;
$font-highlighted: #d73535;

// spacing
$base-padding: 1rem;
$base-margin: .75rem;

// borders
$base-border-color: #009696;
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box shadow
$base-box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.75);

// font sizes
$base-font-size: calc(.75rem + .75vw);
$header-font-size: calc(2rem + 2vw);
$link-font-size: 1rem;