*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content-wrapper {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 2em;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-image {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2980392157) inset;
  background-position: 0% 50%;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  max-width: 65ch;
}

.card {
  margin-inline: auto;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 1em;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)), url("https://github.com/CIDoubleAgent/nz-portfolio-v3/blob/main/src/images/project-images/hungry-snake_1.png?raw=true");
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: filter 300ms;
  max-width: 30rem;
}

.card:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)), url("https://github.com/CIDoubleAgent/weather-dashboard/blob/main/images/Weather%20Dash%202.png?raw=true");
}

.card h2 {
  color: rgb(217, 255, 81);
}

.card a {
  color: rgb(217, 255, 81);
}

.spacer {
  height: 15rem;
}

.card ul {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc((0.75rem + 0.75vw) * 3);
}

nav {
  display: flex;
}

nav ul {
  font-size: calc(0.75rem + 0.75vw);
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
  align-self: stretch;
}

nav li {
  display: flex;
  align-items: center;
  padding-inline: 0.3rem;
}

.brand a {
  font-size: calc((0.75rem + 0.75vw) * 1.8);
  color: rgb(217, 255, 81);
  margin-right: 1.25rem;
}

.active-link {
  border-top: inset 3px rgb(217, 255, 81);
}

nav li:hover {
  color: rgb(217, 255, 81);
}

nav li:active {
  color: #b42d2d;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), url("/src/images/background-images/keyboard_modo-2_2.jpg");
}

.hero h1 {
  font-size: calc(2rem + 2vw);
}

.hero h1::first-letter {
  font-size: calc((2rem + 2vw) * 2);
  font-style: italic;
  color: rgb(217, 255, 81);
}

.hero p {
  font-size: calc(0.75rem + 0.75vw);
}

.about-wrapper {
  padding: 1em;
  margin-bottom: 75rem;
  max-width: 100rem;
}

.about-card {
  display: flex;
}

.about-wrapper img {
  margin-bottom: 1em;
  width: calc(150px + 10vw);
  border-radius: 50%;
  margin-right: 1rem;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.75);
}

.about-card p {
  font-size: calc(0.75rem + 0.75vw);
  line-height: 1.6;
  max-width: 60ch;
}

.portfolio-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/src/images/background-images/keyboard_dot-world-grey_1.jpg");
}

.portfolio {
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 1200px) {
  .portfolio {
    flex-direction: column;
  }
}
.contact-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url("/src/images/background-images/clean-setup_1.jpg");
}

.contact {
  position: fixed;
  left: 26%;
  top: 26%;
  padding: 1em;
  color: rgb(217, 255, 81);
  transform: rotate(-13deg);
  font-style: italic;
}

.contact h1 {
  font-size: calc((0.75rem + 0.75vw) * 2);
}

.contact p {
  font-size: calc(0.75rem + 0.75vw);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer ul {
  padding: 1em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: calc(0.75rem + 0.75vw);
}/*# sourceMappingURL=index.css.map */